* {
  margin: 0;
  padding: 2px;
}

.grid{
  display: grid;
  text-align: center;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-areas:
  "title title . ."
  ". location vessel ."
  ". navigate navigate .";
  background-color: #013bda;
}

.title {
  grid-area: title;
  color: #80ced6;
}

.location{
  grid-area: location;
  background-color: #d5f4e6;
}

.navigate{
  grid-area: navigate;
  background-color: #618685;
}

.vessel{
  grid-area: vessel;
  background-color: #fefbd8;
}
